astroid==2.2.5
Babel==2.9.1
Click==7.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Markdown==0.3
Flask-Sijax==0.4.1
future==0.17.1
gunicorn==19.9.0
isort==4.3.16
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
Markdown==3.0.1
markdown-checklist==0.4.1
markdown2==2.3.7
MarkupSafe==1.1.1
mccabe==0.6.1
mdx-unimoji==1.0
pylint==2.3.1
python-gettext==4.0
pytz==2018.9
Sijax==0.3.2
six==1.12.0
typed-ast==1.3.2
Werkzeug==0.15.3
wrapt==1.11.1
